<div class="flexrow" style="gap: 3px">
  <button class="tooltip" data-dc="5" title="Grabbed<br>Concealed">
    DC 5
  </button>
  <button class="tooltip" data-dc="11" title="Hidden<br>Invisible<br>Confused">
    DC 11
  </button>
  <button data-dc="more"><i class="fa-solid fa-bars"></i></button>
</div>
