<div class="flexrow" style="margin: 2px 6px; gap: 3px">
  <button
    data-dc="targets"
    title="Roll flat check against your selected target"
    style="flex-grow: 0;"
  >
    <i class="fa-solid fa-crosshairs-simple fa-fw"></i>
  </button>
  <button
    data-dc="5"
    title="DC 5 Flat Check"
  >
    Concealed
  </button>
  <button
    data-dc="11"
    title="DC 11 Flat Check"
  >
    Hidden
  </button>
  <button data-dc="custom">Custom</button>
</div>
