<div class="flexrow" style="gap: 3px">
  <button class="tooltip" data-dc="5" title="{{localize "pf2e-fc.template.buttons.grabbed-concealed"}}">
    {{localize "pf2e-fc.template.buttons.dc" value=5}}
  </button>
  <button class="tooltip" data-dc="11" title="{{localize "pf2e-fc.template.buttons.hidden-invisible-confused"}}">
    {{localize "pf2e-fc.template.buttons.dc" value=11}}
  </button>
  <button data-dc="more"><i class="fa-solid fa-bars"></i></button>
</div>
