<div class="flexrow" style="gap: 3px">
  <button
    id="fc-button-target"
    class="tooltip"
    data-dc="targets"
    title="Roll flat check against your selected target"
    style="flex-grow: 0;"
  >
    <i class="fa-solid fa-crosshairs-simple fa-fw"></i>
  </button>
  <button class="tooltip" data-dc="5" title="Grabbed<br>Concealed">
    DC 5
  </button>
  <button class="tooltip" data-dc="11" title="Hidden<br>Invisible<br>Confused">
    DC 11
  </button>
  <button data-dc="more"><i class="fa-solid fa-bars"></i></button>
</div>
