@import "modules/flat/message-config.css";

#fc-container {
	flex: 0;
	margin: 2px 6px;
	position: relative;
}

#fc-button-target.highlight {
	outline: rgba(255, 60, 60, 0.7) solid 2px;
	background-color: #d9b7b6;
}

#fc-container button > i {
	margin-right: 0;
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#initiative-delay,
#initiative-return {
	/* padding: 4px 12px; */
	margin: 4px;
	text-align: center;
	color: white;
	background-color: rgba(255, 255, 255, 0.2);
	outline: black solid 1px;
	border-radius: 4px;
}

#initiative-delay,
.initiative-return {
	cursor: pointer;
}

#initiative-return .fa-play {
	display: none;
}
#initiative-return .delay-indicator {
	animation: rotating 4s linear infinite;
	width: 25px;
	height: 25px;
	display: inline-block;
	position: relative;
	top: 8.5px;
}

.initiative-return:hover .fa-play {
	display: unset !important;
}
.initiative-return:hover .delay-indicator {
	display: none !important;
}

.fc-undo-button {
	align-items: center;
	background: var(--bg-dark);
	display: inline-flex;
	justify-content: center;
	width: 3ch;
	margin-left: 2px;
}

.undo-text.undo {
	text-decoration: line-through;
}

.undo-text.undo + .fc-undo-button {
	display: none;
}

.fc-emanation {
	img {
		border: unset;
	}
}

#pf2e-hud-tracker .combatant .initiative {
	.delay-indicator {
		animation: rotating 4s linear infinite;
	}

	.delay-return .delay-indicator:hover {
		animation: unset;

		&:before {
			/* fa-play */
			content: "\f04b";
		}
	}
}

.fc-flatcheck-buttons {
	display: flex;
	flex-direction: column;

	div.fc-check {
		display: flex;
		align-items: center;
		font-size: var(--font-size-14);
		font-family: var(--font-primary);
		background: rgba(255, 255, 240, 0.2);
		border: 1px solid var(--color-border-light-primary);
		border-radius: 3px;
		margin: var(--space-2) 0;
		line-height: 28px;

		> span {
			display: flex;
			flex: 1 0 0px;
			align-self: stretch;
			align-items: center;
			justify-content: center;

			&:not(:last-child) {
				border-right: 1px solid var(--color-border-light-primary);
			}
		}
		.fc-label {
			min-width: 50%;
		}
		.fc-dc {
			max-width: 20%;
		}
		.fc-roll {
			background: rgba(0, 0, 0, 0.1);
			font-size: var(--font-size-20);
			font-weight: bold;

			.fc-rolls {
				flex-grow: 1;
				display: flex;
				justify-content: space-evenly;
				span {
					min-width: 2ch;
					text-align: center;
				}
			}

			.fc-icon {
				margin-right: 2px;
			}
			.success {
				color: rgb(0, 128, 0);
			}

			.failure {
				color: rgb(255, 0, 0);
			}

			.strikethrough {
				opacity: 0.7;
				/* text-decoration: line-through; */

				&:empty {
					display: none;
				}
			}

			i {
				font-size: 60%;
			}
		}
		button {
			flex-basis: 10%;
			margin: 0 !important;
			border: unset;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			&.hidden {
				display: none;
			}
		}
		button.hidden {
			display: none;
			background: red;
		}
	}

	.fc-note {
		min-height: 28px;
		display: flex;
		justify-content: center;
		align-items: center;

		background: rgba(255, 255, 240, 0.2);
		border: 1px solid var(--color-border-light-primary);
		border-radius: 3px;

		i {
			margin-right: 1ch;
		}
	}

	.fc-rule-note {
		margin-top: 2px;
		line-height: 1;
		font-weight: 500;
		cursor: help;
		display: flex;
		justify-content: center;
	}
}

[id="pf2e-flatcheck-helper.flatcheck.reroll"] .dialog-content {
	gap: 8px;
}
