@import "./modules/flat/message.css";

#fc-container {
	flex: 0;
	margin: 2px 6px;
	position: relative;
}

#fc-button-target.highlight {
	outline: rgba(255, 60, 60, 0.7) solid 2px;
	background-color: #d9b7b6;
}

#fc-container button > i {
	margin-right: 0;
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.initiative-delay,
.initiative-return {
	height: var(--input-height);
	width: var(--input-height);

	display: flex;
	align-items: center;
	justify-content: center;

	color: white;
	background: var(--color-cool-4);
	outline: black solid 1px;
	border-radius: 4px;

	cursor: pointer;
}

.initiative-return .fa-play {
	display: none;
}
.initiative-return .delay-indicator {
	animation: rotating 4s linear infinite;
	padding: 4px;
}

.initiative-return:hover .fa-play {
	display: unset !important;
}
.initiative-return:hover .delay-indicator {
	display: none !important;
}

#pf2e-hud-tracker {
	i.delay-indicator {
		animation: rotating 4s linear infinite;

		&:hover {
			animation: none;

			&::before {
				--fa: "\f04b";
			}
		}
	}
}

.fc-undo-button {
	align-items: center;
	background: var(--bg-dark);
	display: inline-flex;
	justify-content: center;
	width: 3ch;
	margin-left: 2px;
}

.undo-text.undo {
	text-decoration: line-through;
}

.undo-text.undo + .fc-undo-button {
	display: none;
}

.fc-emanation {
	img {
		border: unset;
	}
}

.fc-flatcheck-buttons {
	display: flex;
	flex-direction: column;

	div.fc-check {
		display: flex;
		align-items: center;
		font-size: var(--font-size-14);
		font-family: var(--font-primary);
		background: rgba(0, 0, 0, 0.1);
		border: 1px solid #999;
		border-radius: 3px;
		margin: 5px 0 0 0;
		line-height: 28px;

		> * {
			flex: 0 0 0px;
		}

		> span {
			display: flex;
			align-self: stretch;
			align-items: center;
			justify-content: center;

			&:not(:last-child) {
				border-right: 1px solid #999;
			}
		}
		.fc-label {
			min-width: 50%;
			line-height: 1;
			display: flex;
			flex-direction: column;
			.fc-description {
				font-size: var(--font-size-12);
				opacity: 0.9;
				text-align: center;
			}

			.adjusted {
				text-decoration: underline dotted;
			}
		}
		.fc-dc {
			min-width: 20%;

			.fc-dcs {
				margin-left: 2px;
				display: flex;
				flex-direction: column;
				text-align: center;

				span {
					line-height: 1;
				}

				span:has(+ span) {
					font-size: var(--font-size-10);
					opacity: 0.8;
				}
			}
		}

		.secret {
			background: var(--visibility-gm-bg);
			outline: 1px dotted rgba(75, 74, 68, 0.5);
		}

		.fc-roll {
			/* background: rgba(0, 0, 0, 0.1); */
			font-size: var(--font-size-20);
			font-weight: bold;
			flex-grow: 1;

			.fc-rolls {
				flex-grow: 1;
				display: flex;
				justify-content: space-evenly;
				span {
					min-width: 2ch;
					text-align: center;
				}
			}

			.fc-icon {
				margin-right: 2px;
			}
			.success {
				color: rgb(0, 128, 0);
			}

			.failure {
				color: rgb(255, 0, 0);
			}

			.strikethrough {
				opacity: 0.7;
				/* text-decoration: line-through; */

				&:empty {
					display: none;
				}
			}

			i {
				font-size: 60%;
			}
		}
		button {
			flex-basis: 10%;
			margin: 0 !important;
			border: unset;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			height: unset !important;
			min-height: unset !important;
			align-self: stretch;

			&.hidden {
				display: none;
			}
		}
		button.hidden {
			display: none;
			background: red;
		}
	}

	.fc-note {
		min-height: 28px;
		display: flex;
		justify-content: center;
		align-items: center;

		background: rgba(0, 0, 0, 0.1);
		margin: 5px 0 0 0;
		border: 1px solid #999;
		border-radius: 3px;

		i {
			margin-right: 1ch;
		}
	}

	.fc-rule-note {
		margin-top: 2px;
		line-height: 1;
		font-weight: 500;
		cursor: help;
		display: flex;
		justify-content: center;
	}
}

[id="pf2e-flatcheck-helper.flatcheck.reroll"] .dialog-content {
	gap: 8px;
}
