#fc-container {
  flex: 0;
  margin: 2px 6px;
  position: relative;
}

#fc-button-target.highlight {
  outline: rgba(255, 60, 60, 0.7) solid 2px;
  background-color: #d9b7b6;
}

#fc-container button > i {
  margin-right: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#initiative-delay,
#initiative-return {
  /* padding: 4px 12px; */
  margin: 4px;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  outline: black solid 1px;
  border-radius: 4px;
}

#initiative-delay,
.initiative-return {
  cursor: pointer;
}

#initiative-return .fa-play {
  display: none;
}
#initiative-return .delay-indicator {
  animation: rotating 4s linear infinite;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  top: 8.5px;
}

.initiative-return:hover .fa-play {
  display: unset !important;
}
.initiative-return:hover .delay-indicator {
  display: none !important;
}

.fc-undo-button {
  align-items: center;
  background: var(--bg-dark);
  display: inline-flex;
  justify-content: center;
  width: 3ch;
  margin-left: 2px;
}

.undo-text.undo {
  text-decoration: line-through;
}

.undo-text.undo + .fc-undo-button {
  display: none;
}

.fc-emanation {
  img {
    border: unset;
  }
}
